<aside>
    <ul>
        <li [routerLink]="'/'" class="cursor-pointer" routerLinkActive="bg-red-700 cursor-not-allowed text-yellow-400 font-bold" [routerLinkActiveOptions]="{exact: true}">ALL:</li>
        <li [routerLink]="'/important'" class="cursor-pointer" routerLinkActive="bg-red-700 cursor-not-allowed text-yellow-400  font-bold">Important:</li>
        <li [routerLink]="'/completed'" class="cursor-pointer" routerLinkActive="bg-red-700 cursor-not-allowed text-yellow-400  font-bold">Completed:</li>
    </ul>
</aside>